body {
    background-color: #e7e7e7;
    font-family: 'Sen', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.top-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #71ab74;
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-top: 50px;
}

h2 {
    color: #71ab74;
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.btn-navigation {
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background-color: #a83636;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn-navigation:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.main-calendar {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px;
    background-color: #bdffd4;
    padding: 60px 40px 0;
    box-shadow: 0 0 20px black;
}

.weekdays {
    display: flex;
    width: 100%;
    height: calc(100% / 8);;
}

.weekdays-calendar {
    color: #a83636;
    width: calc(100% / 7);
    height: 100%;
}

.days-calendar {
    width: 100%;
    height: calc(100% / 6 * 5);
    display: flex;
    flex-wrap: wrap;
}

.cont-calendar {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.holiday {
    color: #a83636;
}

.holiday-name {
    font-size: 11px;
}
